<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <ul class="nav-links">
          <li id="homebtn">Home</li>
          <li id="searchbar"><form action="/search" method="get">
            <input type="text" name="searchbar" placeholder="Search something..." >
            <input type="Submit" name="" value=">">
          </form></li>
          <li id="lgsup">Log in | Sign up</li>
        </ul>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
