$padding:15px;
$margin:10px;
$color_p:#00e676;
$color_p_light:#66ffa6;
$color_p_dark:#00b248;
$color_s:#ff9100;
$color_s_light:#ffc246;
$color_s_dark:#c56200;
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$radius: 2px;

*{
  margin: 0;
  padding: 0;
}
nav{
  width:100vw;
  position:sticky;
  top:0;
}
.nav-links{
  list-style: none;
  display:flex;
  justify-content: space-between;
  li{
    margin:$padding;
  }
}
#searchbar{
  flex-grow: 1;
  text-align: center;
  form{
    display:flex;
  }
}
#searchinput{
  width:100%;
}
.nav-container{
  background-color: $color_p;
}
#search-results{
  list-style: none; 
  li{
    box-shadow:$shadow;
    padding:$padding;
    border-radius:$radius;
    margin:$margin; 
  }
}
