$padding:15px;
$color_p:#00e676;
$color_p_light:#66ffa6;
$color_p_dark:#00b248;
$color_s:#ff9100;
$color_s_light:#ffc246;
$color_s_dark:#c56200;

*{
  margin: 0;
  padding: 0;
}
nav{
  width:100vw;
  position:fixed;
  top:0;
}
.nav-links{
  list-style: none;
  display:flex;
  justify-content: space-between;
}
.searchbar{
  flex-grow: 1
}
.nav-container{
  background-color: $color_p;
  padding:$padding;
}
